@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}
.container {
    height: 1600px;
    width: 70%;
    background: #fff;
    padding: 25px;
    border-radius: 8px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
}
.container h6 {
    font-size: 1.5rem;
    color: #333;
    font-weight: 500;
    text-align: center;
}
.container .empty-space {
    margin-top: 0.5%;
}
.container .centered-text {
        display: flex;
        justify-content: center;
}
.container h5 {
    font-size: 1rem;
    color: #333;
    font-weight: 500;
    text-align: center;
}
.container p {
    font-size: 0.85rem;
    color: #333;
    font-weight: 300;
    text-align: left;
    justify-content: center;
}
.container p .bold {
    font-weight: 600;
}
.container .form {
    margin-top: 30px;
}
.form .input-box {
    width: 100%;
    margin-top: 20px;
}
.input-box label {
    color: #333;
}
.form :where(.input-box input, .select-box) {
    position: relative;
    height: 50px;
    width: 100%;
    outline: none;
    font-size: 1rem;
    color: #707070;
    margin-top: 8px;
    border: none;
    outline: none;
    border-bottom: 1px solid black;
    padding: 0 15px;
}
.form .input-box2 {
    width: 100%;
    margin-top: 20px;
    display: flex; 
    flex-wrap: wrap; 
    align-items: center; 
}
.input-box2 label {
    color: #333;
    font-weight: 600;
    flex: 0 0 auto; 
    margin-right: 10px; 
    margin-bottom: -7px;
}
.input-box2 label .bold {
    font-weight: 900;
}
.form :where(.input-box2 input, .select-box) {
    flex: 1; 
    position: relative;
    height: 30px;
    width: 100%;
    outline: none;
    font-size: 1rem;
    color: #707070;
    margin-top: 8px;
    border: none;
    outline: none;
    border-bottom: 1px solid black;
    padding: 0 15px;
}
.form .input-box3 {
    width: 100%;
    margin-top: 20px;
    display: flex; 
    flex-wrap: wrap; 
    align-items: center; 
}
.input-box3 label {
    color: #333;
    font-weight: 400;
    flex: 0 0 auto; 
    margin-right: 10px; 
    margin-bottom: -7px;
}
.input-box3 label .bold {
    font-weight: 600;
}
.form :where(.input-box3 input, .select-box) {
    flex: 1; 
    position: relative;
    height: 30px;
    width: 100%;
    outline: none;
    font-size: 1rem;
    color: #707070;
    margin-top: 8px;
    border: none;
    outline: none;
    border-bottom: 1px solid black;
    padding: 0 15px;
}
.form .gender-box .two {
    display: flex; 
    flex-grow: 1; 
}
.form .gender-box .two h3 {
    margin-left: auto;
}
.form .gender-box .two input{
    flex-grow: 1; 
    position: relative;
    height: 30px;
    width: 100%;
    outline: none;
    font-size: 1rem;
    color: #707070;
    margin-top: 8px;
    border: none;
    outline: none;
    border-bottom: 1px solid black;
    padding: 0 15px;
    margin-right: 400px;
}
.form .column {
    display: flex;
    column-gap: 15px;
}
.form .gender-box {
    margin-top: 20px;
    display: flex;
}
.form .gender-box2 {
    margin-top: 20px;
}
.gender-box2 h3 {
    color: #333;
    font-size: 1rem;
    font-weight: 400;
    margin-right: 20px;
    margin-top: 5px;
}
.gender-box2 h3 .bold {
    font-weight: 600;
}
.gender-box h3 {
    color: #333;
    font-size: 1rem;
    font-weight: 600;
    margin-right: 20px;
    margin-top: 5px;
}
.gender-box p {
    color: #333;
    font-size: 1.03rem;
    font-weight: 600;
    margin-right: 10px;
    margin-left: 90px;
    margin-top: 10px;
}
.form :where(.gender-option, .gender) {
    display: flex;
    align-items: center;
    column-gap: 40px;
    flex-wrap: wrap;
}
.form .gender {
    column-gap: 5px;
    cursor: pointer;
}
.gender input {
    accent-color: rgb(130,106,251);
}
.form :where(.gender-input, .gender label) {
    cursor: pointer;
}
.select-box select {
    height: 100%;
    width: 100%;
    outline: none;
    border: none;
    color: #707070;
    font-size: 1rem;
}
.form button {
    height: 55px;
    width: 100%;
    color: rgba(70,70,71,255);
    font-size: 1rem;
    font-weight: 600;
    margin-top: 30px;
    border: none;
    cursor: pointer;
    border-radius: 6px;
    transition: all 0.2s ease;
    background-color: rgba(212,223,56,255);
}
.form button:hover {
    background-color: #acac3c;
}
@media screen and (max-width: 500px) {
    .form .column {
        flex-wrap: wrap;
    }
    .form :where(.gender-option, .gender) {
            row-gap: 15px;
    }
}
header{
    width: 100%;
    height: 115px;
    background-color: rgba(70,70,71,255);
    background-size: cover;
    position: fixed;
}
header a img {
    width: 300px;
    height: auto;
    margin-top: -93px;
    margin-left: 42%;
}
.content-area{
    width: 100%;
    height: 1700px;
    position: relative;
    background-color: rgba(212,223,56,255);
    top: 115px;
    padding-top: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.background {
    margin-top: 20px;
    background-color: #C5C5C5;
    border-radius: 2px;
    height: 25px;
}
.background p {
    font-size: 1.03rem;
    font-weight: 600;
    margin-left: 10px;
}


